name: Build plugin
on: [pull_request, push]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        distribution: [temurin]
        java-version: ["21"]
    runs-on: ${{ matrix.os }}
    if: "!startsWith(github.event.head_commit.message, '[ci-skip]')"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: "Setup JDK (${{ matrix.distribution }} ${{ matrix.java-version }})"
        uses: actions/setup-java@v4
        with:
          distribution: "${{ matrix.distribution }}"
          java-version: "${{ matrix.java-version }}"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Execute Gradle build
        run: ./gradlew --no-daemon --stacktrace
      - name: "Upload the Java ${{ matrix.java-version }} plugin JAR"
        uses: actions/upload-artifact@v4
        with:
          name: "! Quests-JDK${{ matrix.java-version }}"
          path: |
            build/libs/*.jar
            !build/libs/*-downgraded-*.jar
          if-no-files-found: error
      - name: Upload the downgraded Java 8 plugin JAR
        uses: actions/upload-artifact@v4
        with:
          name: Quests-JDK1.8 (use at your own risk)
          path: build/libs/*-downgraded-8-shaded.jar
          if-no-files-found: error
      - name: Upload the downgraded Java 11 plugin JAR
        uses: actions/upload-artifact@v4
        with:
          name: Quests-JDK11 (use at your own risk)
          path: build/libs/*-downgraded-11-shaded.jar
          if-no-files-found: error
      - name: Upload the downgraded Java 16 plugin JAR
        uses: actions/upload-artifact@v4
        with:
          name: Quests-JDK16 (use at your own risk)
          path: build/libs/*-downgraded-16-shaded.jar
          if-no-files-found: error
      - name: Upload the downgraded Java 17 plugin JAR
        uses: actions/upload-artifact@v4
        with:
          name: Quests-JDK17 (use at your own risk)
          path: build/libs/*-downgraded-17-shaded.jar
          if-no-files-found: error
