name: Build
on: [pull_request, push]
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        distribution: [temurin]
        java-version: ["17"]
    runs-on: ${{ matrix.os }}
    if: "!contains(github.event.commits[0].message, '[ci-skip]')"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: "Setup JDK (${{ matrix.distribution }} ${{ matrix.java-version }})"
        uses: actions/setup-java@v3
        with:
          distribution: "${{ matrix.distribution }}"
          java-version: "${{ matrix.java-version }}"
      - name: "Cache: ~/.gradle/caches, ~/.gradle/wrapper"
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Grant execute permission on gradlew file
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew
      - name: Upload the plugin JAR
        uses: actions/upload-artifact@v3
        with:
          name: "Quests-JDK${{ matrix.java-version }}"
          path: build/libs/*.jar
